<!-- Footer Start -->
<div class="container-fluid bg-light footer mt-5 pt-5 wow fadeIn" data-wow-delay="0.1s">
  <div class="container py-5">
    <div class="row g-5">
      <div class="col-md-6">
        <h1 class="text-primary mb-4">SmartDoc</h1>
        <span>Un sito per la gestione intelligente dei tuoi documenti.</span>
      </div>

    </div>
  </div>
  <div class="container-fluid copyright">
    <div class="container">
      <div class="row">
        <div class="col-md-6 text-center text-md-start mb-3 mb-md-0">
          &copy; <a href="#">SmartDoc</a>, All Right Reserved.
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Footer End -->
