#btn-upload{
  background-color: #6C63FF;
  transition: 0.04ms;
  color: black;

}
#custom-border {

}
 #btn-upload:hover {
  background-color: lightblue;

}

 #uploadForm{

  min-height: 100vh;
}

 #form {


  background-image:  url('/assets/images/doc_image.png') ;
   background-position: center center;
   background-size: 100vh;
   background-repeat: no-repeat;
   min-height: 60vh;
 }

