
<div class="container" style="padding-top: 60px; padding-bottom: 100px;">
  <div id="cards" class="row row-cols-1 row-cols-md-4 g-4" style="max-height: calc(100vh - 120px); overflow-y: auto;">
    <!-- Contenuto scrollabile -->
    <div class="card" *ngFor="let folder of folders"  style="border: none" [routerLink]="['filesPage', folder.name]">
      <img src="./assets/folder.png" class="card-img-top" style="height: 100px;width: 100px">
      <div class="card-body">
        <h5 id="nomeFile" class="card-title">{{folder.name}}</h5>
      </div>
    </div>
  </div>
</div>




